{% extends 'shop/basic.html' %} {% block title %} My Dream Cart Tracker {%endblock %} 
{% block body %}
<div class="container">
    <div class="col my-4">
        <h2>Enter your Order Id and Email address to Track your order</h2>
    </div>
    <form class="row g-3" method="POST" id="trackerForm" action="/shop/tracker/">
        {% csrf_token %}
        <div class="col-md-6">
            <label for="validationDefault01" class="form-label">Order Id</label>
            <input type="text" class="form-control" id="orderId" name="orderId" placeholder="Order Id" required />
        </div>
        <div class="col-md-6">
            <label for="validationDefaultUsername" class="form-label">Email Address</label>
            <div class="input-group">
                <span class="input-group-text" id="inputGroupPrepend2">@</span>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="inputGroupPrepend2"
                    required />
            </div>
        </div>
        <div class="col-12 mt-3">
            <button class="btn btn-primary" type="submit">Track Order</button>
        </div>
    </form>

    <div class="col my-4">
        <h2>Your Order Status:</h2>
        <div class="my-4">
            <ul class="list-group" id="items"></ul>
        </div>
    </div>
</div>
{% endblock %} {% block js %}
<script>
    $('#trackerForm').submit(function(event){
        $('#items').empty();
        var formData = {
            'orderId': $('input[name=orderId]').val(),
            'email': $('input[name=email]').val(),
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
        };
        $.ajax({
            type:'POST',
            url:'/shop/tracker/',
            data: formData,
            encode: true
        })
        .done(function(data){
            console.log(data)
        });
        event.preventDefault();
    })
</script>
{% endblock %}